<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <!-- <label for="current-password">Current password:</label>
    <input type="password" id="current-password" name="current-password" />
    <button id="current-password-button" type="submit">submit</button> -->

    <label for="new-password">New passowrd:</label>
    <input type="password" id="new-password" name="new-password" />

    <label for="new-password-confirm">New passowrd:</label>
    <input
      type="password"
      id="new-password-confirm"
      name="new-password-confirm"
    />
    <button id="new-password-button">submit</button>

    <div id="response"></div>

    <script src="/scripts/reset.js"></script>
  </body>
</html>
